<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="productionDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url"
			value="jdbc:postgresql://127.0.0.1/${jdbc.database}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	<bean id="productionSessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configurationClass" value="org.hibernate.cfg.AnnotationConfiguration" />
		<property name="dataSource" ref="productionDataSource"></property>
		<property name="useTransactionAwareDataSource" value="true" />
		<property name="configLocation" value="hibernate.cfg.xml" />
	</bean>
	
	<bean id="demoDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url"
			value="jdbc:postgresql://127.0.0.1/${jdbc.demo.database}" />
		<property name="username" value="${jdbc.demo.username}" />
		<property name="password" value="${jdbc.demo.password}" />
	</bean>
	
	<bean id="demoSessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configurationClass" value="org.hibernate.cfg.AnnotationConfiguration" />
		<property name="dataSource" ref="demoDataSource"></property>
		<property name="useTransactionAwareDataSource" value="true" />
		<property name="configLocation" value="hibernate.cfg.xml" />
	</bean>
	
	<bean id="srvusdDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url"
			value="jdbc:postgresql://127.0.0.1/${jdbc.srvusd.database}" />
		<property name="username" value="${jdbc.srvusd.username}" />
		<property name="password" value="${jdbc.srvusd.password}" />
	</bean>
	
	<bean id="srvusdSessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configurationClass" value="org.hibernate.cfg.AnnotationConfiguration" />
		<property name="dataSource" ref="srvusdDataSource"></property>
		<property name="useTransactionAwareDataSource" value="true" />
		<property name="configLocation" value="hibernate.cfg.xml" />
	</bean>
	
	<bean id="musicServer" class="com.dbschools.music.server.MusicServerImpl">
		<constructor-arg>
		<map>
	        <entry>
	            <key><value>dbsmusic</value></key>
	            <ref bean="productionSessionFactory" />
	        </entry>
	        <entry>
	            <key><value>dbsmusic-demo</value></key>
	            <ref bean="demoSessionFactory" />
	        </entry>
	        <entry>
	            <key><value>dbsmusic-srvusd</value></key>
	            <ref bean="srvusdSessionFactory" />
	        </entry>
	    </map>
		</constructor-arg>
	</bean>
	
</beans>
