#drawing {
    height: 425px;
    margin-bottom: 1em;
}
.period {
    position: absolute;
    border: none;
    padding: .1em;
}
.period p {
    font-size: 150%;
    font-weight: 400;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.dayTitle {
    position: absolute;
    font-size: 125%;
}
.perTime {
    position: absolute;
    font-size: 80%;
}
.currentCell {
    border: thin solid black;
}
#namesFormDiv {
    display: None;
}
