*.iml
/.idea_modules/
/.idea/
/target/
/music/target/
/common/target/
/picker/target/
/dbschools-web/target/
/quickquiz/target/
music-gradebook/console.devmode.log
music-gradebook/project/project/
music-gradebook/project/target/
music-gradebook/target/
music-gradebook/.idea
music-gradebook/src/main/webapp/assets/images/student-photos
picker/.idea
stusched/.idea
website/period-clock/target
*.pyc
website/.idea
