{% load nav %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Class Scheduler{% endblock %}</title>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
    <h1>Dave B’s Young Programmers</h1>

    <ul class="nav nav-tabs">
        <li role="presentation" class={% active_nav request 'index'     %}><a href="{% url 'index'     %}">Home</a></li>
        <li role="presentation" class={% active_nav request 'students'  %}><a href="{% url 'students'  %}">Students</a></li>
        <li role="presentation" class={% active_nav request 'courses'   %}><a href="{% url 'courses'   %}">Courses</a></li>
        <li role="presentation" class={% active_nav request 'proposals' %}><a href="{% url 'proposals' %}">Proposals</a></li>
    </ul>

    {% block content %}
    {% endblock %}
</div>
</body>
</html>