<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Class Scheduler{% endblock %}</title>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/app">Home</a></li>
  <li role="presentation"><a href="/app/courses">Courses</a></li>
  <li role="presentation"><a href="/app/status">Status</a></li>
  <li role="presentation"><a href="/app/proposals">Proposals</a></li>
</ul>

</div>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>