{% extends "app/base.html" %}

{% block title %}{{ block.super }} - Courses{% endblock %}

{% block content %}
<h1>Courses</h1>
{% if courses %}
    {% for course in courses %}
        <h2>
        {% if course.url %}
        <a href={{ course.url }}>{{ course.name }}</a>
        {% else %}
        {{ course.name }}
        {% endif %}
        </h2>
        {% for section in course.sections %}
            <h4>{{ section.start_time }}–{{ section.end_time|date:"g a" }} ${{ section.price }} {{ section.min_students }}–{{ section.max_students }} students, {{ section.notes }}</h4>
        {% endfor %}
    {% endfor %}
{% else %}
    <p>No courses are available.</p>
{% endif %}
{% endblock %}
