{% extends "app/base.html" %}

{% block title %}{{ block.super }} - Section{% endblock %}

{% block content %}
    <h2>{{ section.course.name }}</h2>
    <h3>{{ section.start_time }}</h3>
    <table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Birthdate</th>
        <th>Age</th>
        <th>Grade</th>
        <th>Parent</th>
        <th>Parent Phone</th>
    </tr>
    </thead>
    <tbody>
    {% for s in students %}
        <tr>
        <td>{{ s.name }}</td>
        <td>{{ s.birthdate }}</td>
        <td>{{ s.age }}</td>
        <td>{{ s.grade }}</td>
        <td>{{ s.parent.name }}</td>
        <td>{{ s.parent.phone }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    {% if overlaps %}
    <h3>Other Sections Together</h3>
    <table class="table">
    <thead>
    <tr>
        <th>Time</th>
        <th>Section</th>
        <th>Students</th>
    </tr>
    </thead>
    <tbody>
    {% for s in overlaps %}
        <tr>
        <td>{{ s.section.start_time }}</td>
        <td>{{ s.section.course.name }}</td>
        <td>{{ s.student_names }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}
{% endblock %}
