{% extends "app/base.html" %}

{% block title %}{{ block.super }} - Status{% endblock %}

{% block content %}
<h1>Status</h1>
{% for parent in parents %}
    <h2>{{ parent.name }}</h2>
    {% for student in parent.student_set.all %}
        <h3>{{ student.name }}</h3>
        {% if student.enrolled_sections %}
            <h4>Enrolled In</h4>
            {% for section in student.enrolled_sections %}
                {{ section.course.name }}: {{ section.start_time }}–{{ section.end_time|date:"g a" }} ${{ section.price }} {{ section.min_students }}–{{ section.max_students }} students
            {% endfor %}
        {% endif %}
        {% if student.proposed_sections %}
            <h4>Interested In</h4>
            {% for section in student.proposed_sections %}
                {{ section.course.name }}: {{ section.start_time }}–{{ section.end_time|date:"g a" }} ${{ section.price }} {{ section.min_students }}–{{ section.max_students }} students
            {% endfor %}
        {% endif %}
        {% if student.accepting_sections %}
            <h4>Needing Confirmation</h4>
            {% for section in student.accepting_sections %}
                {{ section.course.name }}: {{ section.start_time }}–{{ section.end_time|date:"g a" }} ${{ section.price }} {{ section.min_students }}–{{ section.max_students }} students
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}
{% endblock %}
