<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
default-lazy-init="true">

<bean id="musicServerProxyFactory" class="com.dbschools.music.server.MusicServerProxyFactory">
	<constructor-arg><value>localhost</value></constructor-arg>
	<constructor-arg><value>1099</value></constructor-arg>
</bean>

<bean id="remoteDao" class="com.dbschools.music.RemoteDao">
<constructor-arg ref="musicServerProxyFactory"></constructor-arg>
</bean>

<bean id="musiciansEditor" class="com.dbschools.music.MusiciansEditor">
<constructor-arg ref="remoteDao"/>
</bean>
	
</beans>
